

<ion-content fullscreen="true" slot="fixed" >
  <div class="wave-container">
    <div class="ion-padding">
      <h1>Bienvenue</h1>
      <h4><i>Application de gestion des annonces</i></h4>
    </div>
   

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#3880ff" fill-opacity="1" d="M0,64L120,101.3C240,139,480,213,720,202.7C960,192,1200,96,1320,48L1440,0L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
    </div>
  

  <ion-card>
    
    <ion-card-content>
      <div class="signin-btns">
        <ion-button color="danger"fill="solid" shape="round" ion-no-padding [routerLink]="['/login']">Login</ion-button>
        <ion-button fill="solid" shape="round" ion-no-padding [routerLink]="['/signup']">SignUp</ion-button>

      </div>
      <div class="text-tag"><span>Se Connecté via Reseaux Sociaux </span></div>

      <div class="social-btns">
        <ion-button fill="clear" class="facebook-btn ion-no-padding">
          <ion-img src="assets/images/facebook.png"></ion-img>
        </ion-button>
        <ion-button fill="clear" class="google-btn ion-no-padding">
          <ion-img src="assets/images/google.png"></ion-img>
        </ion-button>

      </div>
    </ion-card-content>
  </ion-card>

</ion-content>